<a href="{{type}}://{{value}}" class="NeedHelp">
	<div class="corner-decoration bottom-left vertical yellow"></div>
	<div class="corner-decoration top-right horizontal turquoise"></div>
	<p class="NeedHelp__sentence">
		<span class="NeedHelp__label">{{label}}</span>
		{{content}}
	</p>
	<small class="NeedHelp__number">{{registeredCharity}}</small>
</a>
