<div class="Navbar">
	<div class="Navbar__logo">
		<a href="/"><img class="lazy" src="{{logo.placeholder}}" data-imgs="{{logo.url}}" alt="{{logo.alt}}"></a>
	</div><!--
	--><button class="Navbar__handle js-nav-handle" type="button" aria-controls="main-navigation">{{handle.copy}}
		<span class="icon-container-long"><img class="lazy v-center" src="{{handle.placeholder}}" data-imgs="{{handle.icon}}" alt=""></span>
	</button>
</div>
