<div class="BrandBanner">
	<div class="corner-decoration top-left yellow vertical"></div>
	<div class="corner-decoration bottom-right yellow vertical"></div>
	<div class="BrandBanner__logo">
		<a href="/"><img class="lazy" src="{{logo.placeholder}}" data-imgs="{{logo.url}}" alt="{{logo.alt}}"></a>
	</div>

	<a class="BrandBanner__cta btn turquoise long" href="{{f-link.url}}">{{f-link.label}}</a>
	<a class="BrandBanner__cta btn white long" href="{{s-link.url}}">{{s-link.label}}</a>
</div>
