<div class="Hero">
	<div class="Hero__img-container">
		<img class="Hero__img lazy thumb" src="{{background.placeholder}}" data-imgs="{{background.smallUrl}},{{background.mediumUrl}},{{background.url}}" alt="" aria-hidden="true" />
	</div>
	<div class="Hero__tab Hero__tab--{{side}} {{color}}">
		<h2 class="underline">{{title}}</h2>
		<p class="Hero__tab-text">{{text}}</p>
	</div>
</div>