<div class="container-fluid">
	<div class="news-grid equal-height">
		<div class="heading-block text-center m-b-xl">
			<div class="heading-block__title h5 m-b-sm">{{title}}</div>
			<div class="heading-block__sub-title h4 m-b-md">{{subTitle}}</div>
			{{#if copy}}
				<div class="row justify-content-center m-b-xl">
					<div class="col-12 col-sm-10 col-md-6 text-center">
						<p class="heading-block__copy">{{copy}}</p>
					</div>
				</div>
			{{/if}}
		</div>
		<div class="news-grid__grid">
			{{#each cards}}
				{{#if image}}
					<div class="news-grid__grid--item {{classes}}">
						<a href="{{link}}" title="{{title}}" class="card">
							<div class="card__top p-x-0 p-y-0">
								<img src="{{image.placeholder}}" alt="{{image.alt}}" class="lazy card__image"
									data-imgs="{{image.small}},{{image.medium}},{{image.large}}">

							</div>

							<div class="card__bottom">
								<div class="card__sub-title">{{subTitle}}</div>
								<div class="card__title">{{title}}</div>
								<div class="card__copy m-t-sm">{{copy}}</div>
								<div class="card__info m-t-xl">
									{{#if votes}}
										<div class="card__votes">{{votes}} people found this useful</div>
									{{/if}}
									{{#if date}}
										<div class="card__date m-t-xs">{{date}}</div>
									{{/if}}
								</div>
							</div>
						</a>
					</div>
				{{else}}
					<div class="news-grid__grid--item">
						<a href="{{link}}" title="{{title}}" class="card">
							<div class="card__top p-x-md p-y-md">
								<div class="card__sub-title">{{subTitle}}</div>
								<div class="card__title--white">{{title}}</div>
							</div>
							<div class="card__bottom">
								<div class="card__copy m-t-sm">{{copy}}</div>
								<div class="card__info m-t-xl">
									{{#if votes}}
										<div class="card__votes">{{votes}} people found this useful</div>
									{{/if}}
									{{#if date}}
										<div class="card__date m-t-xs">{{date}}</div>
									{{/if}}
								</div>
							</div>
						</a>
					</div>
				{{/if}}
			{{/each}}
		</div>
		<div class="row">
			<div class="col-sm-12 m-y-md text-center">
				<button class="btn btn-secondary">See more</button>
			</div>
		</div>
	</div>
</div>