<section class="FNewsletter">
	<h3 class="FNewsletter__title underline title">{{title}}</h3>
	<form class="FNewsletter__form" method="POST" action="{{submit.url}}">
		<div class="FNewsletter__label">{{text}}</div>
		<div class="FNewsletter__wrapper">
			<input class="FNewsletter__input" type="email" name="email" placeholder="ex. suzanne@gmail.com" aria-label="{{label}}">
			<button class="FNewsletter__submit btn turquoise" type="submit">{{submit.label}}</button>
		</div>
	</form>
</section>
