<div class="Login rte">
	<div class="Login__wrapper">
		<h1 class="underline">{{title}}</h1>
		<p>{{text}}</p>
		<form class="Login__form" action="{{endpoint}}" method="post">
			<button class="Login__submit btn purple long" type="submit">
				<span class="icon-container-tall">
					<img class="Login__icon light-icon v-center lazy" src="{{btn.placeholder}}" data-imgs="{{btn.url}}" alt="">
				</span>
				{{btn.label}}
			</button>
		</form>
	</div>
</div>
