<div class="AdviserFeedback wrapper js-adviser-form {{#if bottomMargin}}bottom-margin{{/if}}{{#if topMargin}}top-margin{{/if}}" aria-live="polite">
	<div class="rte bottom-margin">
		<h4 class="AdviserFeedback__title">
			<span class="srt">{{srt}}</span>
			{{title}}
		</h4>
		<p class="AdviserFeedback__description">{{description}}</p>
	</div>
	<form class="AdviserFeedback__form form" action="google.com" method="post" data-endpoint="{{endpoint}}">
		<div class="AdviserFeedback__field-container bottom-margin">
			<label class="AdviserFeedback__label" for="adviserFeedback">{{label}}</label>
			<textarea id="adviserFeedback" class="AdviserFeedback__field" name="adviserFeedback" required aria-describedby="adviserErr"></textarea>
			<p id="adviserErr" class="AdviserFeedback__error">This field is required</p>
		</div>
		<div class="AdviserFeedback__submit">
			<button class="btn purple long" type="submit">{{submitLabel}}</button>
		</div>
	</form>
	<p class="AdviserFeedback__message">{{message}}</p>
</div>
